workflows/02-Leave-Approval.json
{
  "name": "AI HR Management System-phase1-module3:Leave Approval System",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "256ce0ea-4f8e-4317-a061-53c13139a976",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "95890754-ba54-4cac-9a0d-af03a5c8b682",
      "name": "Webhook",
      "webhookId": "256ce0ea-4f8e-4317-a061-53c13139a976"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1SElJKa75ANONHjutB6RF_NX45B4UeOKVQUdKX-bQr1c",
          "mode": "list",
          "cachedResultName": "Leave Requests",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1SElJKa75ANONHjutB6RF_NX45B4UeOKVQUdKX-bQr1c/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1SElJKa75ANONHjutB6RF_NX45B4UeOKVQUdKX-bQr1c/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "leaveId",
              "lookupValue": "={{ $('Webhook').item.json.body.leaveId }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        0
      ],
      "id": "362ca848-a5f0-4b11-bd3e-c286709199e5",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aoE2YJSUFrJ8f7o6",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"success\": false,\n  \"message\": \"Leave request has already been processed.\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        624,
        96
      ],
      "id": "dae98bf9-073a-4cce-abe1-e7697eef3c88",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1N-CHAUG09sfMzOXeUTgPCAV0FN_4_kszQBSiLh500RI",
          "mode": "list",
          "cachedResultName": "Employees Database",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1N-CHAUG09sfMzOXeUTgPCAV0FN_4_kszQBSiLh500RI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1N-CHAUG09sfMzOXeUTgPCAV0FN_4_kszQBSiLh500RI/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "employeeId",
              "lookupValue": "={{ $json.employeeId }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        624,
        -96
      ],
      "id": "75c4fc7a-4962-473d-91be-51e24a6b9310",
      "name": "Get row(s) in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aoE2YJSUFrJ8f7o6",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0298ebb6-9bbe-4e1f-bbc7-ceef04947a29",
              "name": "newLeaveBalance",
              "value": "={{ $('Get row(s) in sheet1').item.json.leaveBalance - $('Get row(s) in sheet').item.json.days }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        800,
        -80
      ],
      "id": "64edf7d7-109d-4236-9afd-e425876615ae",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{\n{\n  \"success\": true,\n  \"message\": \"Leave approved successfully.\",\n  \"employeeId\": $('Get row(s) in sheet1').item.json.employeeId,\n  \"remainingLeaveBalance\": $('Edit Fields').item.json.newLeaveBalance\n}\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1424,
        -80
      ],
      "id": "b3652552-f429-4f57-9303-36a5e924e882",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "0c3b2549-4ba3-471b-91d3-7a534bd39091",
              "leftValue": "={{ $json.status }}",
              "rightValue": "Pending",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        416,
        0
      ],
      "id": "8f1de3c3-6601-4f78-a91d-3e39c40d996f",
      "name": "status manipulation"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1SElJKa75ANONHjutB6RF_NX45B4UeOKVQUdKX-bQr1c",
          "mode": "list",
          "cachedResultName": "Leave Requests",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1SElJKa75ANONHjutB6RF_NX45B4UeOKVQUdKX-bQr1c/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1SElJKa75ANONHjutB6RF_NX45B4UeOKVQUdKX-bQr1c/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "status": "Approved",
            "leaveId": "={{ $('status manipulation').item.json.leaveId }}"
          },
          "matchingColumns": [
            "leaveId"
          ],
          "schema": [
            {
              "id": "leaveId",
              "displayName": "leaveId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "employeeId",
              "displayName": "employeeId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "employeeName",
              "displayName": "employeeName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "department",
              "displayName": "department",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "fromDate",
              "displayName": "fromDate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "toDate",
              "displayName": "toDate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "days",
              "displayName": "days",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "reason",
              "displayName": "reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "createdAt",
              "displayName": "createdAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1216,
        -80
      ],
      "id": "a40ddb42-ce09-4f39-80ec-399e7fee5640",
      "name": "leave update",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aoE2YJSUFrJ8f7o6",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1N-CHAUG09sfMzOXeUTgPCAV0FN_4_kszQBSiLh500RI",
          "mode": "list",
          "cachedResultName": "Employees Database",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1N-CHAUG09sfMzOXeUTgPCAV0FN_4_kszQBSiLh500RI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1N-CHAUG09sfMzOXeUTgPCAV0FN_4_kszQBSiLh500RI/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "leaveBalance": "={{ $json.newLeaveBalance }}",
            "employeeId": "={{ $('Get row(s) in sheet1').item.json.employeeId }}"
          },
          "matchingColumns": [
            "employeeId"
          ],
          "schema": [
            {
              "id": "employeeId",
              "displayName": "employeeId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "firstName",
              "displayName": "firstName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "lastName",
              "displayName": "lastName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "department",
              "displayName": "department",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "designation",
              "displayName": "designation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "joiningDate",
              "displayName": "joiningDate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "salary",
              "displayName": "salary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "manager",
              "displayName": "manager",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "createdAt",
              "displayName": "createdAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "leaveBalance",
              "displayName": "leaveBalance",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1008,
        -80
      ],
      "id": "f9c0fec1-6359-4ea0-8ebf-4e3caf6b246b",
      "name": "employee update",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aoE2YJSUFrJ8f7o6",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "content": "Leave Approval WorkFlow",
        "height": 80,
        "width": 256
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        704,
        -240
      ],
      "typeVersion": 1,
      "id": "a806eaf5-1e6b-41bb-bba8-49371b80f37b",
      "name": "Sticky Note1"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "status manipulation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "employee update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "status manipulation": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "leave update": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "employee update": {
      "main": [
        [
          {
            "node": "leave update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "ad133ae7-08c8-4a18-be92-28fcb04b7bee",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "627b5dd0bb7a656e3f6bbb4d1d6bc6a68604f96d3083cef15ebc0fbe24d41f26"
  },
  "nodeGroups": [],
  "id": "nI1Hqeh92pVbMK0U",
  "tags": []
}